* {
    box-sizing: border-box;
}

html {
    margin: 0;
    /* overflow: hidden; */
}

html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    background-color: #002a2a;
    color: #fff;
    height: 100vh;
}

body {
    display: flex;

    margin: auto;

    width: 100%;
    height: 100%;

    padding: 8px 0;

    align-items: center;
}

body.page {
    width: 320px;
}

main {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

@supports (-webkit-touch-callout: none) {

    html,
    body {
        height: -webkit-fill-available;
    }
}

canvas {
    display: block;
    background-color: #002a2a;
    cursor: none;
    max-width: 100vw;
}

img,
canvas {
    image-rendering: crisp-edges;
}

nav {
    display: flex;
    padding: 0 16px;
    justify-content: center;
}

button {
    display: flex;
    flex-direction: column;
    align-items: center;
    appearance: none;
    border: none;
    background-color: #008080;
    color: inherit;
    font: inherit;
    padding: 6px 12px;
    border-radius: 2px;
    cursor: pointer;
}

button:hover {
    background-color: #006080;
}

div.logo {
    display: flex;
    justify-content: center;
    margin-left: auto;
}

div.logo img {
    height: 24px;
}

body.page div.logo img {
    height: 48px;
    margin: 32px 0;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 256px;
    margin: 32px 0;
    max-width: 100%;
}

article img {
    flex: 0;
    border-radius: 2px;
}