* {
    box-sizing: border-box;
}

html {
    margin: 0;
}

html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    background-color: #283235;
    color: #fff;
    height: 100vh;
}

body {
    display: flex;

    margin: auto;

    width: 100%;
    height: 100%;

    align-items: center;
}

body.page {
    width: 320px;
    padding: 8px;
    height: 100vh;
    overflow-y: scroll;
}

main {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

@supports (-webkit-touch-callout: none) {

    html,
    body {
        height: -webkit-fill-available;
    }
}

@media (max-width: 576px) {
    html {
        overflow: hidden;
    }
}

canvas {
    display: block;
    background-color: #002a2a;
    cursor: none;
    max-width: 100vw;
}

img,
canvas {
    image-rendering: crisp-edges;
}

nav {
    display: flex;
    flex-wrap: wrap;
    padding: 0 16px;
    justify-content: center;
    align-items: center;
}

button,
.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    appearance: none;
    border: none;
    background-color: #008080;
    color: inherit;
    font: inherit;
    padding: 6px 12px;
    border-radius: 2px;
    cursor: pointer;
    text-decoration: none;
}

button:hover,
.button:hover {
    background-color: #006080;
}

button[type="submit"] {
    margin: 8px;
}

div.logo {
    display: flex;
    justify-content: center;
    margin-left: auto;
}

div.logo img {
    height: 24px;
}

body.page div.logo img {
    height: 48px;
    margin: 32px 0;
}

body.page div.logo img,
body.itch div.logo img {
    height: 48px;
    margin: 32px 0;
}


article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 256px;
    margin: 32px 0;
    max-width: 100%;
}

article img {
    flex: 0;
    border-radius: 2px;
}

.lobby-id {
    display: none;
    padding: 8px;
    border-radius: 4px;
    flex-direction: row;
    margin-left: 16px;
}

.lobby-id[data-lobby-id] {
    display: initial;
}

.lobby-id.activated {
    background-color: #008080;
}

.icon.icon-tabler {
    margin-right: 8px;
}

.flex-fill {
    flex: 1 1 auto;
}